.site-collapse-custom-collapse {
  margin-top: 1rem;
  box-shadow: -10px 13px 5px 0px rgba(2, 2, 102, 0.46);
  -webkit-box-shadow: -10px 13px 5px 0px rgba(2, 2, 102, 0.46);
  -moz-box-shadow: -10px 13px 5px 0px rgba(2, 2, 102, 0.46);
}

.site-collapse-custom-panel button::after {
  background-image: url("./../../assets/images/expand-arrow.png");
  background-size: 1.25rem;
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  color: white;
  margin-bottom: 6px;
  white-space: pre-line;
  overflow: hidden;
  background: #20255c;
  border: 0px;
  border-radius: 2px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
  font-size: 1.1rem;
}
.anticon,
.ant-collapse-content-box,
.ant-collapse-header {
  color: white;
}
