.form {
  margin-top: 3rem;
}
.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input {
  background: #20255c;
  color: white;
  caret-color: #92a013;
}
.input:hover {
  background: #52546d;
  color: black;
}
.msg {
  text-align: center;
  margin: 2rem;
  width: 20rem;
  padding: 3px;
  color: white;
  background-color: #20255c5c;
  display: none;
}

.msgAppear {
  display: block;
}

@media (max-width: 768px) {
  .msg {
    margin: 1rem 0 1rem -1rem;
  }
}
