.navbar {
  position: absolute !important;
  z-index: 1200;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap !important;
}
.sticky-top {
  margin-bottom: -9%;
}
.navbar-light .navbar-nav .nav-link {
  transition: var(--mainTransition);
  list-style-type: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(254, 254, 255) !important;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--main-font);
  letter-spacing: var(--mainSpacing);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(238, 238, 238) !important;
  background: rgb(146, 136, 1);
}

.me-auto {
  padding-left: 20% !important;
}

.navbar-light .navbar-brand {
  color: #050930 !important;
}
