.container {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.container h2 {
  color: black;
}

@media (max-width: 768px) {
  .container {
    margin-left: 2rem;
  }
  .container span {
    font-size: 1rem;
  }
}
