.button {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 10px;
  margin-top: 2rem;
  outline: none;
  border: none;
  font-size: 18px;
  color: #e5ebfd;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background: #8d0703;
  box-shadow: -7px 10px 18px -5px rgba(7, 31, 53, 0.69);
  -webkit-box-shadow: -7px 10px 18px -5px rgba(7, 31, 53, 0.69);
  -moz-box-shadow: -7px 10px 18px -5px rgba(7, 31, 53, 0.69);
}

.button:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background: rgb(146, 136, 1);
  color: #fff;

  border-radius: 10px;
  border: 2px solid maroon;
  transition: all 0.3s ease-out;
}
