h1 {
  letter-spacing: 4px;
  padding: 0;
  color: white;
}

a {
  color: white;
}
.mobile {
  display: none;
}

.image {
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .mobile {
    display: flex;
    margin-top: 2rem;
    text-align: center;
    position: relative;
  }
  .particles {
    display: block;
    height: 46vh !important;
    width: 100%;
  }
  .canvas {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 30rem;
  }

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
}
