h1 {
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* font-family: "Kelly Slab", cursive; */
  font-family: "Exo 2", sans-serif;

  font-weight: 700 !important;
  color: #050930;
  padding: 10px 0 10px 0;
}

.mobile {
  display: none;
}

.image {
  width: 110%;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .mobile {
    display: flex;
    margin-top: 2rem;
    text-align: center;
  }
  h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
