.custom {
  background: #20255c;
  margin: 0 -4rem -2rem -4rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 50%;
}
.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copiright {
  color: white;
}
.links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}
