.advantages {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 6rem 0 0 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

@media (max-width: 768px) {
  .advantage {
    margin: 2rem 0 0 3rem;
  }
  .card {
    margin: 0.2rem;
  }
}
