.social {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: row;
}
.items .links {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(250, 246, 246);
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  background: #20255c;
  line-height: 2.5rem;
  border-radius: 43%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 7px;
}
.links:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
.links:nth-child(1):before {
  background: #4267b2;
}
.links:nth-child(2):before {
  background: #1da1f2;
}
.links:nth-child(3):before {
  background: #e1306c;
}
.links:nth-child(4):before {
  background: #2867b2;
}
.links:nth-child(5):before {
  background: #ff0000;
}
.links:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
}
.links:nth-child(1):hover:before {
  box-shadow: 0 0 15px #4267b2;
}
.links:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}
.links:nth-child(3):hover:before {
  box-shadow: 0 0 15px #e1306c;
}
.links:nth-child(4):hover:before {
  box-shadow: 0 0 15px #2867b2;
}
.links:nth-child(5):hover:before {
  box-shadow: 0 0 15px #ff0000;
}
.links:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}
.links:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}
.links:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}
.links:nth-child(4):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}
.links:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
@media (max-width: 768px) {
  .items {
    display: flex;
    flex-direction: column;
  }
  .links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
  }
}
